name: test docker
on: [push]
jobs:
  test-sigstore:
    permissions:
      contents: read
      packages: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: sigstore/cosign-installer@v4.0.0
      - uses: docker/build-push-action@v6
        with:
          push: true
          tags: [ "latest" ]
      - run: "export"
